// BANNER SECTION 
.banner {
    height: 100vh;
    background-image: url('../assets/img/banner.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %bgImageFixed;

    color: $colorWhite;

    .banner__content {
        text-align: center;
        text-transform: uppercase;


        h1 {
            font-weight: 300 !important;
            line-height: $lineHeightNormal;
            letter-spacing: 3px;
        }

        h2 {
            letter-spacing: 6px;
            font-weight: 300 !important;
        }
    }

}