// HEADER SECTION
header {
    .navbar {
        width: 100%;
        position: fixed;
        z-index: 1000;
        box-shadow: 0 2px 2px rgb(0 0 0 / 10%);

        .navbar-brand {
            img {
                height: 96px;
            }
        }

        #navbarSupportedContent {
            .navbar-nav {
                .nav-item {
                    line-height: $lineHeight-29;
                    padding: $size-10;

                    .nav-link {
                        color: $colorWhite !important;

                        &.active {
                            color: $activeHeaderNavItem !important;
                        }

                        &:hover {
                            color: $activeHeaderNavItem !important;
                        }
                    }
                }
            }
        }
    }
}


header {
    nav.scroll-down-window {
        height: 60px !important;
        background-color: $colorBlack0a0a0a !important;
    }

    .navbar-brand {
        img {
            height: 75px !important;
        }
    }
}