@media screen and (max-width: 767.98px) {

    // HEADER
    header {

        .navbar {
            height: 80px !important;

            .navbar-collapse#navbarSupportedContent {
                .navbar-nav {

                    background-color: $colorBlack222;

                    .nav-item {
                        .nav-link {
                            padding: 0;
                            margin-left: 0 !important;

                            .res {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                border-top: 1px solid #f0f0f0;
                                border-bottom: 1px solid #f0f0f0;
                                font-size: 13px;
                                font-weight: 400;
                                text-transform: uppercase;
                                letter-spacing: 0.5px;
                                padding-left: $size-15;

                                .plus {
                                    border-left: 1px solid #f5f5f5;
                                    font-size: 22px;
                                    text-align: center;
                                    padding: 7px 24px;
                                }
                            }
                        }
                    }

                    .header-nav-item {
                        // margin-left: $size-15 ;
                        // padding: $size-15 0;
                    }

                    .header-nav-item-6 {
                        .customBorderRight {
                            display: none;
                        }
                    }

                    .header-nav-item-7 {
                        i {
                            display: none;
                        }

                        .res-7 {
                            display: inline;
                        }


                    }

                    .header-nav-item-8 {
                        i {
                            display: none;
                        }

                        .res-8 {
                            display: inline;
                        }
                    }
                }
            }

            .navbar-brand {
                img {
                    height: 60px !important;
                }
            }

            #navbarSupportedContent {
                background-color: white;
                flex-grow: 0;

                .navbar-nav {
                    .nav-item {
                        padding: $size-15 0;
                    }
                }
            }
        }
    }

    //BANNER
    .banner {
        .banner__content {
            h1 {
                font-size: $size-50;
            }

            h2 {
                letter-spacing: 3px;
                font-size: $size-20;
            }
        }
    }


    // TEAM
    .team {
        .team-content {
            .team-responsive-render.number-carousel {
                .owl-nav {

                    button.owl-next,
                    button.owl-prev {
                        position: absolute;
                        top: 35%;
                        background-color: $colorGraya4a4a4;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        line-height: 20px;
                        font-size: $size-25;
                        // box-shadow: ;
                    }

                    button.owl-prev {
                        left: -10px;
                    }

                    button.owl-next {
                        right: -10px;
                    }
                }
            }
        }

        .team-promo {
            .team-promo__btn {
                .btn--black {

                    padding: $size-15 $size-10;
                }
            }
        }
    }

    //Intro
    .intro {
        .accordion {
            .card {
                .card-header {
                    cursor: pointer;

                    .collapsed {
                        button {
                            font-size: $size-25;
                            color: $colorBlack222;
                        }

                        .intro__title {

                            p,
                            h3 {
                                text-transform: capitalize;
                                color: $colorBlack222;
                            }

                        }
                    }

                    h2 {
                        button {
                            font-size: $size-25;
                            color: $activeHeaderNavItem;
                        }

                        .intro__title {

                            p,
                            h3 {
                                text-transform: capitalize;
                                color: $activeHeaderNavItem;
                            }


                        }
                    }


                    &:hover {
                        h2 {
                            button {
                                color: $activeHeaderNavItem;
                            }

                            .intro__title {

                                p,
                                h3 {

                                    color: $activeHeaderNavItem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // FEEDBACK
    .feedback {
        .feedback-carousel {
            width: 100%;
        }
    }
}