// màu chữ
$activeHeaderNavItem: #d6b161;
$colorGray595959: #595959;
$colorGraya4a4a4: #a4a4a4;
$colorWhite: white;
$colorGray7e7e7e: #7e7e7e;
$colorBlack0a0a0a: #0a0a0a;
$colorBlack222: #222;
$colorGraya9a8a8: #a9a8a8;
$colorGray757575: #757575;
$colorGray909090: #909090;
$coloGraybbb: #bbb;
$colorGrayRGBA: rgba(255, 255, 255, 0.5);
$colorYellowd6b161: #d6b161;

// background color
$bgBlackRGBA: rgba(0, 0, 0, 0.7);
$bgBlackRGBA05: rgba(0, 0, 0, 0.5);
$bgWhiteRGBA : rgba(255, 255, 255, 0.9);
// line height
$lineHeightNormal: normal;
$lineHeight-29: 29px;

// overlays
$overlayBg: linear-gradient(to right, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%);
$size-5: 5px;
$size-10: 10px;
$size-15: 15px;
$size-20: 20px;
$size-25: 25px;
$size-30: 30px;
$size-35: 35px;
$size-40: 40px;
$size-45: 45px;
$size-50: 50px;
$size-55: 55px;
$size-60: 60px;

$font-weight-medium: 300;
$font-weight-bold: 600